::ng-deep .multilevelpushmenu_wrapper li {
    padding: 0 !important;
}

::ng-deep .multilevelpushmenu_wrapper a {
    padding: .4em !important;
}

#content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}