/* You can add global styles to this file, and also import other style files */
/* For FontAwesome icons - if you're using them */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
}

button {
  background-color: #336ca6;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;

  &:hover {
    background-color: #1f4164;
  }
}
